*{
	margin:0;
	padding:0;
}

body{
	background-color: #222;
}

article{
	margin:auto auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width:80%;
}

.album-container{
	width:500px;
	height:500px;
	padding:50px;
}

.cover-width{
	width:500px;
}

.album-text{
	margin-top:0;
	display: none;
	animation-name: example;
 	animation-duration: 2s;
}

.album-container:hover .album-text{
	margin-top:-504px;
	display: flex;
	flex-direction: column;
	padding-left:30px;
	padding-top:10px;
	box-sizing: border-box;
	overflow: hidden;
	width:500px;
	height:500px;
	opacity: 100%;
	transition: .5s ease;
	background-color:rgba(0,0,0,0.5);
}

#scroll-baar{
	overflow-y: scroll;
}

#niet-scroll-baar{

}

ol, p{
	color:#fff;
	font-family: Helvetica, sans-serif;
}

p{
	font-weight: bold;
}

li{
	padding:7px 0;
}